body {
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    background-color: azure;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
}
img {
    width: 800px;
    border-radius: 25px;
}

.mainpage {
    width: 400px;
}